@import '../../sass/main.scss';

.nav-link[data-target].active {
	color: $color-primary;
	font-size: 2.2rem;
}

.navbar-hidden {
	display: none;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba($color-secondary, 0.8);
	width: 100%;
	height: 8rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	z-index: 2;
	opacity: 1;

	&__logo {
		width: 4rem;
		height: 4rem;
	}

	.nav-btn {
		display: none;
		font-size: 3.5rem;
		margin-top: 1rem;
		padding: 0.6rem;
		cursor: pointer;
		background-color: transparent;
		border: none;
		outline: none;
		color: $color-primary;
	}

	.nav-container {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		transition: all 1s;
		position: relative;

		& a {
			padding: 1rem 4rem;
			color: $color-grey-light-2;
			text-align: center;
			text-decoration: none;
			font-size: 2rem;
			font-weight: bold;
			transition: all 0.2s;

			&:hover {
				color: $color-primary;
			}
		}

		.nav-close-btn {
			color: $color-primary;
		}
	}
}

@media only screen and (max-width: $bp-medium) {
	.nav-link[data-target].active {
		color: #aaa;
		font-size: 3rem;
	}

	.navbar {
		.nav-btn {
			display: block;
		}

		.nav-container.show-navigation {
			display: flex;
		}

		.nav-container {
			position: absolute;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100vw;

			background-color: rgba($color-secondary, 0.95);
			// display: flex;
			flex-direction: column;
			gap: 1.5rem;

			display: none;

			a {
				font-size: 3rem;
				padding: 2rem 9rem;

				&:hover {
					background-color: $color-secondary;
				}
			}

			.nav-close-btn {
				position: absolute;
				top: 0.7rem;
				right: 5rem;
			}
		}
	}
}

@media only screen and (max-width: $bp-large) {
}
