@import '../../sass/main.scss';

.socials {
	background-color: $color-secondary;
	grid-column: col-end 7 / full-end;
	height: 100vh;
	display: grid;
	align-content: center;

	@media only screen and (max-width: $bp-largest) {
		grid-column: full-start / full-end;
		height: 15vh;
	}
}

.social {
	&__list {
		list-style: none;
		display: grid;
		grid-template-columns: min-content;
		row-gap: 3vw;
		justify-content: center;
		align-items: center;

		&::after,
		&::before {
			content: '';
			width: 2px;
			height: 10rem;
			background-color: $color-primary;
			justify-self: center;
		}

		@media only screen and (max-width: $bp-largest) {
			grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
			row-gap: 1rem;
			justify-items: center;

			&::after,
			&::before {
				content: '';
				height: 2px;
				width: 10rem;
				background-color: $color-primary;
				// row-gap: 0;
				// justify-self: center;
			}
		}

		@media only screen and (max-width: $bp-largest) {
			&::after,
			&::before {
				content: '';
				height: 0px;
				width: 0rem;
				background-color: none;
			}
		}
	}

	&__icon {
		font-size: 3rem;
		color: $color-primary;
	}
}
